<h1>
Logger List
</h1>
<mat-divider></mat-divider>
<h4>Select System</h4>
<mat-form-field>
  <mat-label>System Code</mat-label>
  <mat-select [(value)]="selectedSystem">
    <mat-option *ngFor="let system of systems | async" [value]="system.name">
      {{system.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div *ngIf="loggers">
<h4>Configured loggers<button mat-button (click)="add()"><mat-icon>add</mat-icon>ADD</button></h4>

  <p *ngIf="addFlag">    
    <mat-form-field class="input-width">
      <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of selectableLoggers | async | keyvalue" [value]="option.key">{{option.key}}</mat-option>
    </mat-autocomplete>
    <mat-form-field>
      <mat-label>Level</mat-label>
      <mat-select [(value)]="selectedLevel">
        <mat-option *ngFor="let level of levels" value="level">{{level}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="applyPolicy(myControl.value, selectedLevel)">APPLY</button>
  </p>

  <mat-list *ngFor="let item of loggers | keyvalue">
    <mat-list-item *ngIf="item.key != 'ROOT' && item.configuredLevel"> {{item.key}} {{item.value}}</mat-list-item>  
  </mat-list>
</div>
<!-- <mat-accordion>
   <mat-expansion-panel *ngFor="let item of items">   
      <mat-expansion-panel-header>
        <mat-panel-title *ngIf="!item.new_created" class="desc">{{item.logger}} </mat-panel-title> 
        <mat-panel-title *ngIf="item.new_created" class="desc">          
          <mat-form-field class="flex">
            <input matInput placeholder="Logger name" [(value)]="item.logger" required>
            <mat-icon matSuffix>edit</mat-icon>            
          </mat-form-field>
        </mat-panel-title> 
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let appender of item.appenders">
          <mat-form-field >
            <mat-label>System</mat-label>
            <mat-select [(value)]="appender.group">
              <mat-option value=''>None</mat-option>
              <mat-option *ngFor="let sys of systems" value="sys">{{sys}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="flex">
            <input matInput placeholder="Appender name" [(value)]="appender.pkg_name" required>
          </mat-form-field>
          <button *ngIf="appender.pkg_name != ''"  mat-icon-button><mat-icon>remove</mat-icon></button>
        </mat-list-item>
        <button mat-button color="primary" (click)="addNewAppender()"><mat-icon>add</mat-icon>ADD APPENDER</button>
        <button mat-button><mat-icon>save</mat-icon>SAVE</button>
        <button mat-button *ngIf="!item.new_created"><mat-icon>remove</mat-icon>DELETE</button>
        <button mat-button *ngIf="item.new_created" (click)="cancelAddItem()"><mat-icon>cancel</mat-icon>CANCEL</button>
      </mat-list>
   </mat-expansion-panel>
</mat-accordion>
<p class="full-width">
  <button mat-button (click)="addItem()" *ngIf="enableToAdd()"><mat-icon>add</mat-icon>ADD</button>
</p> -->